<!DOCTYPE html>
<html>
<head>
  <title>Submit Assignment</title>
</head>
<body>
  <h1 id="course_title"></h1>
  <h2 id="module_title"></h2>
  <h3 id="assignment_title"></h3>
  <p id="assignment_description"></p>
  
  <div id="tasks_container">
    <div class="task_block">
        <h4 class="task_number"></h4>
        <p class="task_description"></p>
      
        <div class="learning_objectives_container"></div>
        
        <div class="questions_container">
            <div class="question_block">
                <p class="question_criteria"></p>
                <p class="question_number"></p>
                <p class="question_description"></p>
              
                <div class="figures_container"></div>
              
                <p class="suggested_evidence_description"></p>
                
                <textarea class="student_submission"></textarea>
              </div>              
        </div>
      </div>      
  </div>

  <button id="save_responses">Save Responses</button>

  <script src="submit_assignment.js"></script>
</body>
</html>
